[submodule "external/wmbats_bazaar"]
	path = external/wmbats_bazaar
	url = https://github.com/Wmbat/wmbats_bazaar
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
