################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/debug
/release
/.idea
/build/x64-Debug
/build/x64-Release
/build_debug
/CMakeSettings.json
/_config.yml