################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TWE/.vs
/debug
/release
/.idea
/build/x64-Debug
/build/x64-Release
/build_debug
/CMakeSettings.json
