################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/[Dd]ebug
/[Rr]elease
/.idea
/[Bb]uild
/CMakeSettings.json
/_config.yml
/out
/compile_commands.json
/.ccls-cache
/.clangd
/tags
